@CHARSET "ISO-8859-1";

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#191919;
  display:none;
}
  
#box .window {
  position:fixed;
  left:0;
  top:0;
  display:none;
  z-index:9999;
}

#box #dialog {
  	background-color:#ffffff;
	border-bottom-color:#C4C4C4;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#C4C4C4;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#C4C4C4;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#C4C4C4;
	border-top-style:solid;
	border-top-width:1px;
	display: none;
}

#box #dialog #middleblock {
width: 495px;
height: 195px;
margin-left: 0px;
float: left;
}

#box #dialog p1	{font-size: 32px;text-color:#660000;}
