@CHARSET "ISO-8859-1";
body {background-color: #00BFFF;
	  text-align: center;
	  min-width: 760px;  }
h1 {Color: #0000CD;
	align: center;
	margin: 20px;}
h3 {margin-left : 100px;
	  margin-right: 100px;}
p	{margin-left : 100px;
	  margin-right: 100px;
	  font-size: 18px;}
li{ display:inline;
	margin-left: 100px;
	margin-right:100px;
	font-size: 18px;}
ul ol {list-style-type:none;
	margin-left: 100px;
	margin-right:100px;
	padding:0;}
#container {		/*Container used for program page*/
		   background-color: #FFFFFF;
		   width: 950px;
		   height: auto;
		   min-height: 1200px;
		   margin: 0 auto;
		   margin-top: auto;
		   padding:10px;
		   text-align: left;} 
#container1 {
		   background-image: url('Image/bgr.PNG');
		   background-color: #FFFFFF;
		   background-repeat: no-repeat;
		   background-position: center;
		   width: 950px;
		   height: auto;
		   min-height: 400px;
		   margin: 0 auto;
		   margin-top: auto;
		   padding:10px;
		   text-align: left;} 
#tablebg{/*Container used for table name*/
	display: block;	
    height: 120px;
    width: 120px;
    background-color: #CC88DD  ;
    -moz-border-radius: 60px;
    border-radius: 60px;
    position: absolute;
    text-align:center;
    border: 2px solid #0000FF;
	}
#tablebg p{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size:18px;
	color:#FF0000;
	text-decoration:none; 
	font-weight:bold;
	display:block;
}
#tablebg a:link,
#tablebg a:visited{
    color:#000000;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    margin-top:50px;
    margin-left: auto;
    margin-right:auto;
    }
#tablebg a:hover{
    color:#FF00FF;
    }  
#tablebg1 a:link,
#tablebg1 a:visited{
    color:#000000;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    margin-top:50px;
    margin-left: auto;
    margin-right:auto;
    }
#tablebg1 a:hover{
    color:#FF00FF;
    }  
    
#dtbs_store{
	width: 400px;
	height: auto;
	background-color: #33FF66;
	padding:10px;
	margin: 0 auto;
}
#dtbs_store a:link,
#dtbs_store  a:visited{
    color:#6600FF;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    padding:0 20px 0 6px;
    display:block;
    text-align: center;
    }
#dtbs_store  a:hover{
    color:#FF00FF;
    }
#nav{
	margin: 0 auto;
    height:32px;
    line-height:32px;
    background:#FFBA73;
    width: 950px;
    margin-top: 80px;
    padding:0 10px;
    
    }
#nav ul,
    #nav ul li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    display:block;
    } 
    #nav ul li a:link,
    #nav ul li a:visited{
    color:#800000;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    padding:0 20px 0 6px;
    display:block;
    }
    #nav ul li a:hover{
    color:#FF00FF;
    }
 #nav1{
  display:block;
	margin: 0 auto;
    height:32px;
    line-height:32px;
    background:#FFBA73;
    width: 950px;
  	padding:0 10px;
  	position:relative;
  	margin-top:0px;
    }
#nav1 ul,
    #nav1 ul li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    display:block;
    margin-top: auto;
    } 
    #nav1 ul li a:link,
    #nav1 ul li a:visited{
    color:#800000;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    padding:0 20px 0 6px;
    display:block;
    margin-top:auto;
    }
    #nav1 ul li a:hover{
    color:#FF00FF;
    }
 img {margin-left: 100px;}

 #ellipseDiv /*Container for the attribute*/
{
  height:55px;
  width:110px;
  border: 2px solid #005;
  border-radius:75px / 50px;
  text-align: center;
  position: absolute;
  animation:myfirst 5s infinite;
  animation-iteration-count:1;
  animation-direction:normal;
/* Firefox */
-moz-animation:myfirst 5s infinite;
-moz-animation-direction:normal;
-moz-animation-iteration-count:1;
}

@keyframes myfirst
{
0%   {background:red; margin-right:100px;  margin-top:100px;}
25%  {background:yellow;  margin-right:75px;  margin-top:75px;}
50%  {background:blue;  margin-right:50px;  margin-top:50px;}
75%  {background:green;  margin-right:25px;  margin-top:25px;}
100% {background:red;  margin-right:0px;  margin-top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:red; margin-right:100px;  margin-top:100px;}
25%  {background:yellow;  margin-right:75px;  margin-top:75px;}
50%  {background:blue;  margin-right:50px;  margin-top:50px;}
75%  {background:green;  margin-right:25px;  margin-top:25px;}
100% {background:red;  margin-right:0px;  margin-top:0px;}
}

 #ellipseDiv p
 {margin-left:auto;
 margin-right:auto;
 color:#FFFFFF;
 }
 
  #ellipseDiv1 /*Container for the attribute*/
{
  height:55px;
  width:110px;
  border: 2px solid #005;
  border-radius:75px / 50px;
  text-align: center;
  position: absolute;
  animation:myfirst1 5s infinite;
  animation-iteration-count:1;
  animation-direction:alternate;
/* Firefox */
-moz-animation:myfirst1 5s infinite;
-moz-animation-direction:alternate;
-moz-animation-iteration-count:1;
}

@keyframes myfirst1
{
0%   {background:red; margin-left:100px;  margin-top:100px;}
25%  {background:yellow;  margin-left:75px;  margin-top:75px;}
50%  {background:blue;  margin-left:50px;  margin-top:50px;}
75%  {background:green;  margin-left:25px;  margin-top:25px;}
100% {background:red;  margin-left:0px;  margin-top:0px;}
}

@-moz-keyframes myfirst1 /* Firefox */
{
0%   {background:red; margin-left:100px;  margin-top:100px;}
25%  {background:yellow;  margin-left:75px;  margin-top:75px;}
50%  {background:blue;  margin-left:50px;  margin-top:50px;}
75%  {background:green;  margin-left:25px;  margin-top:25px;}
100% {background:red;  margin-left:0px;  margin-top:0px;}
}

 #ellipseDiv1 p
 {margin-left:auto;
 margin-right:auto;
 color:#FFFFFF;
 }
 
div.line
 	{position:absolute;
 	-moz-transform-origin: 0%;
	height: 3px;
	background: #000;}
	
#link
 	{position:absolute;
 	-moz-transform-origin: 0%;
 	-moz-transform:rotate(0deg);
	background: #FF0000;
	height: 8px;}
